body{

    text-align: center;
    background-size: cover;
    
    
    }
    
    .note{
    
    font-size: 15px;
    color: black;
    
    }
    
    .div_speed{
    
        float: left;
    
    }
    
    .div_speed_img, .div_volume_img{
    
    border-radius: 100px;
    width: 375px;
    
    }
    
    #speed, #volume{
    
    font-size: 23px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    .div_volume{
    
        float: middle;
    
    }
    
    .heading{
    
    font-size: 23px;
    width: 100%;
    margin: 0px;
    
    }